/*******************************************
				Defaults

Remember to use something like type-scale.com 
to get your font sizes
*******************************************/
/* * {
    padding: 0;
    margin: 0;
  } */
  
  /* .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  } */
  
  /* .clearfix {
    display:contents;
  }
   */
  /* html[xmlns] .clearfix {
    display: block;
  } */
  
  /* html .clearfix {
    height: 1%;
  }  */
  
  /* html,
  body {
    background: url("../images/green-small.jpg");
  }  */
  h1 {
    padding: 0.5rem;
    font-family: "Tangerine", cursive;
    font-size: 4rem;
    padding-top: 57px;
    color: transparent;

  }
  h2 {
    font-family: "Tangerine", cursive;
    font-size: 3rem;
    font: white;
  }
  
  p {
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-family: "Flamenco", cursive;
    font-size: 1.2rem;
    text-align: left;
    font: white;
  }
  /* svg {
    fill: #8ea5ff;
  } */
  
  /*******************************************
                  Layout
  *******************************************/
  .wrapper {
    /* background-color: #78b23b; */
    opacity: 0.9;
    margin: 0 auto;
    margin-left: 0;
    background-color: transparent;
    padding-left: 10px;
    /* border: 0.2rem solid #b26c58; */
  }
  .masthead {
    text-align: center;
    
    /* background-color: #cc745a; */
  }
  .main {
    box-sizing: border-box;
    background-color: transparent!important;
    /* background-color: #c6ff8a; */
    /* border: 0.2rem solid #b26c58; */
    padding: 2rem;

    margin-left: 30px;
  }
  
  .foot p {
    text-align: center;
  }
  
  /*******************************************
                  Form Styles
  *******************************************/
  .formBox {
    padding-bottom: 1rem;
  }
  .col {
    padding-bottom: 1rem;
  }
  #slider-range {
    margin: 1rem 0rem;
    width: 80%;
  }
  .buttons {
    padding-bottom: 1rem;
  }
  .buttons input {
    margin-top: 3rem;
    background-color: transparent;
  }
  
  label {
    display: block;
    font-family: "Flamenco", cursive;
    font-size: 1.3rem;
  }
  
  input,
  select,
  textarea {
    padding: 0.4rem;
    font-family: "Flamenco", cursive;
    width: 80%;
    font-size: 1rem;
    border: 0.2rem solid #b26c58;
  }
  select {
    width: 30%;
  }

  input[type="text"],
  input[type="number"],
  input[type="date"] {
    background-color: transparent;
  }
  
  /*******************************************
                  Image Styles
  *******************************************/
  
  /***************************************
               Responsive layouts
  ****************************************/
  @media screen and (min-width: 500px) {
    .main {
      max-width: 780px;
      max-height: 800px;
      background-color: transparent;
    }
    .formBox {
      width: 50%;
      float: left;
    }
    .col {
      width: 50%;
      float: left;
    }
    .buttons input {
      margin-top: 7rem;
    }
  }
  @media screen and (min-width: 780px) {
    .wrapper {
      max-width: 1024px;
    }
  
    .formBox {
      width: 25%;
      float: left;
      margin-bottom: 3rem;
    }
    .col {
      width: 25%;
      float: left;
    }
  
    .buttons {
      clear: both;
    }
  
    .buttons input {
      margin-top: 2rem;
    }
  }
  
  .tours-wrapper {
    background-image: url("../IMAGES/tours.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }